@import '../../styles/fonts.scss';

.Navbar-container{
  width: 100%;
  background: rgb(68, 14, 54);
  color: white;
  padding: 2% 2% 5% 2%;
  margin: 0;
  border-radius: 0% 0% 100% 100%;
  display: flex;
  justify-content: space-between;

  .main-header{
    font-size: 24.502px;
    width: 40%;
    margin: 0% 4%;
    font-family: $fontFamilyPoppins;
    font-weight: 700;
  }

  .navbar-links{
    display: flex;
    margin: 0% 4%;
    font-family: $fontFamilyPoppins;
    width: 60%;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;

    a:hover{
      color: #aa1e1e;
    }

    .search-icon{
      width: 3%;
      color: white;
    }
  }
}