
.inner{
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 71vh;
  color: #fff;
}

.indicators{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 50%;

  button{
  margin: 0% 3%;
  background: white;
  border-radius: 50%;
  border: none;
  font-size: 3.2vw;
  cursor: pointer;
  }

  button:hover{
    opacity: 0.7;
  }
}